<!DOCTYPE html>
<html>
  <head>
    <title>Wordbot</title>
    <link type="text/css" rel="stylesheet" href="/styles/style.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.gravatar.com/avatar/3b964d84fcfbcdf59089c8bd7309f0b7.ico" />
  </head>
  <body>

    <div class="graph">
      <p-connection-layer></p-connection-layer>
      <div class="node-container"></div>
    </div>

    <div class="conversation conversation-mode">
      <p-conversation></p-conversation>
    </div>

    <button class="editToggle"><i class="fa fa-pencil-square-o"></i></button>

    <script type="text/javascript">
      window.bootstrapData = <%= data %>;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/sylvester.js"></script>
    <script type="text/javascript" src="/assets/uuid.js"></script>
    <script type="text/javascript" src="/assets/lodash.js"></script>
    <script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/assets/transit.js"></script>
    <script type="text/javascript" src="/assets/custom-elements.js"></script>
    <script type="text/javascript" src="/assets/build.js"></script>
  </body>
</html>