* {
  box-sizing: border-box;
}
.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
html,
body {
  height: 100%;
}
body {
  background-color: #fdfdfd;
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: lighter;
  overflow: scroll;
  color: #646464;
  margin: 0;
}
.col-container {
  height: 100%;
  margin: 0;
}
.graph {
  width: 2000px;
  height: 2000px;
  position: relative;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  overflow: scroll;
}
.conversation {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
.node-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
p-connection-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
p-connection-layer g {
  opacity: .5;
}
p-connection-layer line {
  stroke: #c2cbce;
  stroke-width: 12px;
  stroke-linecap: round;
  -webkit-transition: stroke 200ms ease;
}
p-connection-layer circle:hover {
  opacity: 1;
}
p-connection-layer circle {
  stroke: none;
  fill: #c2cbce;
  -webkit-transition: stroke 200ms ease;
  cursor: -webkit-grab;
  opacity: .7;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
}
p-node {
  pointer-events: auto;
  background-color: #a4bcc2;
  width: 200px;
  position: absolute;
  cursor: -webkit-grab;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  padding: 16px;
  border-radius: 6px;
  -webkit-transition: box-shadow 100ms ease-in-out;
  -moz-transition: box-shadow 100ms ease-in-out;
  -o-transition: box-shadow 100ms ease-in-out;
  -ms-transition: box-shadow 100ms ease-in-out;
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
}
p-node.active {
  box-shadow: 0 0 24px #a4bcc2;
}
p-node.output {
  background-color: #d8715c;
}
p-node .node-text {
  text-align: center;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 4px;
  background-color: #dbe6ec;
  color: #52737b;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: 100;
}
p-node .swap-type {
  position: absolute;
  top: -3px;
  right: -3px;
  background: none;
  border: none;
  outline: none;
  color: #dbe6ec;
  font-size: 14px;
  cursor: pointer;
}
p-conversation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a4bcc2;
  box-shadow: 10px -12px 32px rgba(0, 0, 0, 0.6);
}
p-conversation .conversation-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 24px;
  margin: 0;
  padding: 6px;
  background-color: #dbe6ec;
  color: #52737b;
  border: none;
  outline: none;
  font-family: Helvetica;
  font-weight: 100;
}
p-conversation .log {
  height: 100%;
  overflow: scroll;
}
p-conversation .log p {
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  min-height: 34px;
}
p-conversation .log .input {
  background-color: #dbe6ec;
  margin-right: 40%;
}
p-conversation .log .output {
  background-color: #d8715c;
  color: #dbe6ec;
  text-align: right;
  margin-left: 40%;
}
