@bkg: rgb(253,253,253);
@secondary: rgb(219,230,236);
@connections: rgb(194,203,206);
@dark: rgb(164,188,194);
@text: #52737b;
@outputColor: rgb(216,113,92);

*{
  box-sizing: border-box;
}

.rounded-corners (@radius: 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.shadow(@drop: 10px){
	-webkit-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
 	-moz-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
 	box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
}

.noselect{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.rotate(@deg: 180deg){
  -moz-transform:rotate(@deg);
	-webkit-transform:rotate(@deg);
	-o-transform:rotate(@deg);
	-ms-transform:rotate(@deg);
}

.scale(@scale: 1){
  -moz-transform:scale(@scale);
  -webkit-transform:scale(@scale);
  -o-transform:scale(@scale);
  -ms-transform:scale(@scale);
}

.ease (@time: 100ms, @what: all) {
	-webkit-transition: @what @time ease-in-out;
  -moz-transition: @what @time ease-in-out;
  -o-transition: @what @time ease-in-out;
  -ms-transition: @what @time ease-in-out;
}

html, body{
  height: 100%;
}

body{
	background-color:@bkg;
	font-family:'Helvetica Light', 'Helvetica';
	font-weight: lighter;
	overflow: scroll;
	color:rgb(100,100,100);
	margin: 0;
}

.col-container{
  height: 100%;
  margin: 0;
}

.graph{
  width: 2000px;
  height: 2000px;
  position: relative;
  .noselect;
  overflow: scroll;
}

.conversation{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  .ease;
}

.node-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.editToggle{
  position: fixed;
  top: 2px;
  right: 2px;
  background: none;
  border: none;
  outline: none;
  color: @text;
  font-size: 38px;
  cursor: pointer;
  .ease;
}

p-connection-layer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .noselect;
}

p-connection-layer .lineGroup{
  opacity: .4;
  .ease;
}

p-connection-layer .lineGroup:hover{
  opacity: .6;
}

p-connection-layer line{
  stroke: @connections;
  stroke-width: 12px;
  stroke-linecap: round;
  cursor: -webkit-grab;
}

p-connection-layer circle{
  stroke: none;
  fill: @connections;
  cursor: -webkit-grab;
  opacity: .4;
  .ease;
}

p-connection-layer circle:hover{
  opacity: .6;
}

p-node{
  pointer-events: auto;
  background-color: @dark;
  width: 200px;
  position: absolute;
  cursor: -webkit-grab;
  .noselect;
  padding: 16px;
  border-radius: 6px;
  .ease(100ms, box-shadow);
  .ease(100ms, background-color);
  .ease(100ms, -webkit-transform);
}

p-node.active{
  box-shadow: 0 0 24px rgba(100, 100, 100, .7);
  .scale(1.08);
}

p-node.potentialActive{
  box-shadow: 0 0 24px rgba(100, 100, 100, .7);
  .scale(1.03);
}

p-node.output{
  background-color: @outputColor;
}

p-node .node-text{
  text-align: center;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 6px;
  background-color: @secondary;
  color: @text;
  border: none;
  outline: none;
  border-radius: 6px;

  font-family: Helvetica;
  font-weight: 100;

  resize: none;
}

p-node .remove{
  position: absolute;
  top: -3px;
  right: -3px;
  background: none;
  border: none;
  outline: none;
  color: @secondary;
  font-size: 14px;
  cursor: pointer;
}

p-node .swap-type{
  position: absolute;
  top: -3px;
  left: -3px;
  background: none;
  border: none;
  outline: none;
  color: @secondary;
  font-size: 14px;
  cursor: pointer;
}

.remove, .swap-type{
  opacity: 0;
  .scale(.5);
  .ease;
}

p-node:hover .remove{
  opacity: 1;
  .scale(1);
}

p-node:hover .swap-type{
  opacity: 1;
  .scale(1);
}

p-conversation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @dark;
  box-shadow: 10px -12px 32px rgba(0,0,0,.5);
}

p-conversation .conversation-input{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 24px;
  margin: 0;
  padding: 8px;
  background-color: @secondary;
  color: @text;
  border: none;
  outline: none;
  font-family: Helvetica;
  font-weight: 100;
  .ease;
}

p-conversation .log{
  height: 100%;
  overflow: scroll;
  padding-bottom: 48px;
}

p-conversation .log p{
  position:relative;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  min-height: 34px;
  box-shadow: 0 0 12px rgba(100, 100, 100, .2);
  .ease;
}

p-conversation .log .output{
  background-color: @outputColor;
  color: @secondary;
  margin-right: 40%;
  margin-left: 24px;
}

p-conversation .log .input{
  background-color: @secondary;
  text-align: right;
  margin-left: 40%;
  margin-right: 24px;
}

/* Triangles */
p-conversation .log p:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
}

p-conversation .log .output:after{
  left: -11px;
  bottom: 6px;
  border-width: 8px 12px 8px 0;
  border-color: transparent @outputColor;
}

p-conversation .log .input:after{
  right: -11px;
  bottom: 6px;
  border-width: 8px 0px 8px 12px;
  border-color: transparent @secondary;
}

/* Conversation mode */

.conversation.conversation-mode{
  width: 100%;

  .log{
    padding-top: 12px;
    padding-bottom: 96px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .log p{
    padding: 14px;
    font-size: 24px;
  }

  .log .input{
    /*margin-left: 70%;*/
  }

  .log .output{
    /*margin-right: 70%;*/
  }

  .conversation-input{
    font-size: 32px;
    padding: 12px;
  }

  .editToggle{
    .rotate(-180deg);
  }

}








