.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: #fafafa;
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: lighter;
  overflow: hidden;
  color: #646464;
  margin: 0;
}
#pcanvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */

  position: absolute;
  top: 0;
  left: 0px;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
p-brick {
  background-color: #b4b4b4;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
p-grid {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.grid-col {
  width: 80px;
  margin: 0;
  padding: 0;
  display: inline-block;
  opacity: .7;
}
p-cell {
  background-color: #b4b4b4;
  outline: 1px solid #3c3c3c;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: -1px;
  padding: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  opacity: .5;
}
.active {
  opacity: 1;
}
