@bkg: rgb(250,250,250);
@secondary: rgb(180,180,180);
@text: rgb(60,60,60);

.rounded-corners (@radius: 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.shadow(@drop: 10px){
	-webkit-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
 	-moz-box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
 	box-shadow: 0px 1px @drop rgba(0,0,0,0.25);
}

.noselect{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.rotate(@deg: 180deg){
  -moz-transform:rotate(@deg);
	-webkit-transform:rotate(@deg);
	-o-transform:rotate(@deg);
	-ms-transform:rotate(@deg);
}

.ease (@time: .1s, @what: all) {
	-webkit-transition: @what @time ease-in-out;
  -moz-transition: @what @time ease-in-out;
  -o-transition: @what @time ease-in-out;
  -ms-transition: @what @time ease-in-out;
}

body{
	background-color:@bkg;
	font-family:'Helvetica Light', 'Helvetica';
	font-weight: lighter;
	overflow: hidden;
	color:rgb(100,100,100);
	margin: 0;
}

#pcanvas{
		outline: none;
	  	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
		position:absolute;
		top:0;
		left: 0px;
		margin:0;
		padding:0;
		background-color: rgb(250,250,250);
	
}

p-brick{ 
  background-color: @secondary;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  .noselect;
}

p-grid{ 
  background-color: @bkg;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  .noselect;
}

.grid-col{
  // background-color: lighten(@secondary, 30%);
  width: 80px;
  margin: 0;
  padding: 0;
  display: inline-block;
  opacity: .7;
  .ease(.2s)
}

p-cell{ 
  background-color: @secondary;
  border: 1px solid @text;
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: -2px;
  padding: 0;
  .noselect;
  display: inline-block; 
  opacity: .5;
  .rounded-corners(8px);
  .ease(.1s, opacity);
}

.active{
  .ease;
  opacity: 1;
}











