* {
  box-sizing: border-box;
}
.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
html,
body {
  height: 100%;
}
body {
  background-color: #fdfdfd;
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: lighter;
  overflow: scroll;
  color: #646464;
  margin: 0;
}
.col-container {
  height: 100%;
  margin: 0;
}
.graph {
  width: 2000px;
  height: 2000px;
  position: relative;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  overflow: scroll;
}
.conversation {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}
.node-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
p-connection-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
p-connection-layer .lineGroup {
  opacity: .4;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
}
p-connection-layer .lineGroup:hover {
  opacity: .6;
}
p-connection-layer line {
  stroke: #c2cbce;
  stroke-width: 12px;
  stroke-linecap: round;
  cursor: -webkit-grab;
}
p-connection-layer circle {
  stroke: none;
  fill: #c2cbce;
  cursor: -webkit-grab;
  opacity: .4;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
}
p-connection-layer circle:hover {
  opacity: .6;
}
p-node {
  pointer-events: auto;
  background-color: #a4bcc2;
  width: 200px;
  position: absolute;
  cursor: -webkit-grab;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  padding: 16px;
  border-radius: 6px;
  -webkit-transition: box-shadow 100ms ease-in-out;
  -moz-transition: box-shadow 100ms ease-in-out;
  -o-transition: box-shadow 100ms ease-in-out;
  -ms-transition: box-shadow 100ms ease-in-out;
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  -ms-transition: background-color 100ms ease-in-out;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  -moz-transition: -webkit-transform 100ms ease-in-out;
  -o-transition: -webkit-transform 100ms ease-in-out;
  -ms-transition: -webkit-transform 100ms ease-in-out;
}
p-node.active {
  box-shadow: 0 0 24px rgba(100, 100, 100, 0.7);
  -moz-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  -o-transform: scale(1.08);
  -ms-transform: scale(1.08);
}
p-node.potentialActive {
  box-shadow: 0 0 24px rgba(100, 100, 100, 0.7);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
}
p-node.output {
  background-color: #d8715c;
}
p-node .node-text {
  text-align: center;
  width: 100%;
  font-size: 16px;
  margin: 0;
  padding: 6px;
  background-color: #dbe6ec;
  color: #52737b;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: 100;
  resize: none;
}
p-node .remove {
  position: absolute;
  top: -3px;
  right: -3px;
  background: none;
  border: none;
  outline: none;
  color: #dbe6ec;
  font-size: 14px;
  cursor: pointer;
}
p-node .swap-type {
  position: absolute;
  top: -3px;
  left: -3px;
  background: none;
  border: none;
  outline: none;
  color: #dbe6ec;
  font-size: 14px;
  cursor: pointer;
}
.remove,
.swap-type {
  opacity: 0;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
}
p-node:hover .remove {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
p-node:hover .swap-type {
  opacity: 1;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
p-conversation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a4bcc2;
  box-shadow: 10px -12px 32px rgba(0, 0, 0, 0.5);
}
p-conversation .conversation-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 24px;
  margin: 0;
  padding: 8px;
  background-color: #dbe6ec;
  color: #52737b;
  border: none;
  outline: none;
  font-family: Helvetica;
  font-weight: 100;
}
p-conversation .log {
  height: 100%;
  overflow: scroll;
  padding-bottom: 48px;
}
p-conversation .log p {
  position: relative;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  min-height: 34px;
  box-shadow: 0 0 12px rgba(100, 100, 100, 0.2);
}
p-conversation .log .output {
  background-color: #d8715c;
  color: #dbe6ec;
  margin-right: 40%;
  margin-left: 24px;
}
p-conversation .log .input {
  background-color: #dbe6ec;
  text-align: right;
  margin-left: 40%;
  margin-right: 24px;
}
/* Triangles */
p-conversation .log p:after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
}
p-conversation .log .output:after {
  left: -11px;
  bottom: 6px;
  border-width: 8px 12px 8px 0;
  border-color: transparent #d8715c;
}
p-conversation .log .input:after {
  right: -11px;
  bottom: 6px;
  border-width: 8px 0px 8px 12px;
  border-color: transparent #dbe6ec;
}
