* {
  box-sizing: border-box;
}
.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: #fdfdfd;
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: lighter;
  overflow: hidden;
  color: #646464;
  margin: 0;
}
.node-container {
  position: absolute;
  top: 0;
  left: 0;
}
p-connection-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
p-connection-layer g {
  opacity: .5;
}
p-connection-layer line {
  stroke: #c2cbce;
  stroke-width: 12px;
  stroke-linecap: round;
  -webkit-transition: stroke 200ms ease;
}
p-connection-layer circle:hover {
  opacity: 1;
}
p-connection-layer circle {
  stroke: none;
  fill: #c2cbce;
  -webkit-transition: stroke 200ms ease;
  cursor: -webkit-grab;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  opacity: .75;
}
p-node {
  background-color: #a4bcc2;
  width: 240px;
  position: absolute;
  cursor: -webkit-grab;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  padding: 18px;
  border-radius: 6px;
}
p-node .node-text {
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin: 0;
  padding: 4px;
  background-color: #dbe6ec;
  color: #282828;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: 100;
}
p-node:hover .node-connect,
p-node:active .node-connect {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  opacity: 1;
}
.node-connect:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  opacity: 1;
}
p-node .node-connect {
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: #dbe6ec;
  border: 6px solid #a4bcc2;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  opacity: 0;
}
