* {
  box-sizing: border-box;
}
.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: #fcfcfc;
  font-family: 'Helvetica Light', 'Helvetica';
  font-weight: lighter;
  overflow: hidden;
  color: #646464;
  margin: 0;
}
.node-container {
  position: absolute;
  top: 0;
  left: 0;
}
p-connection-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
p-connection-layer line {
  stroke: #c8c8c8;
  stroke-width: 12px;
  stroke-linecap: round;
  -webkit-transition: stroke 200ms ease;
  cursor: pointer;
}
p-node {
  background-color: #dcdcdc;
  width: 240px;
  position: absolute;
  cursor: -webkit-grab;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  padding: 18px;
  border-radius: 6px;
}
p-node .node-text {
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin: 0;
  padding: 4px;
  background-color: rgba(170, 170, 170, 0.5);
  color: #fafafa;
  border: none;
  outline: none;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: 100;
}
p-node .node-connect {
  position: absolute;
  bottom: -9px;
  right: -9px;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: rgba(170, 170, 170, 0.5);
  cursor: pointer;
}
